@use "elx/a11y" as *;
@use "elx/anim";
@use "elx/layout";
@use "elx/style/color";
@use "elx/style/scrollbar" as *;

.showcase-example-code {
	position: relative;

	&__resize-handle {
		&:hover, &.active {
			background: color.background(500);
		}
	}

	&__scroll-container {
		@include layout.absolute(6px, 0, 0, 0);
		@include scrollbar(200);
		overflow-y: auto;
		margin: 0;
		padding: 24px;
		background: color.background(200);
		white-space: pre;
		font-size: rem(14);
		line-height: 1.4;

		&::selection,
		*::selection {
			background: color.background(700);
		}
	}
}

.hljs-line-num {
	color: color.foreground(500);
	padding-right: 1.5em;
	user-select: none;
}

.hljs-indent {
	position: relative;

	&::before {
		@include layout.absolute(-0.2em, null, -0.2em, 1.5px);
		content: "";
		width: 1.5px;
		background: color.background(600);
	}
}

.hljs-operator,
.hljs-punctuation {
	color: color.foreground(200);
}

.hljs-tag-name {
	color: color.warning(700);
}

.hljs-attr-name {
	color: color.warning(600);
}

.hljs-string {
	color: color.accent(600);

	.hljs-delimiter {
		color: color.accent(600, 0.5);
	}
}
