<elx-app-shell
	fakeWindowsChrome
	[maximized]="maximized"
>
	<elx-titlebar
		(minimize)="minimize()"
		[(maximized)]="maximized"
		(close)="close()"
	>
		<elx-icon *elxTitlebarIcon icon="Entity"></elx-icon>

		<elx-menubar>
			<elx-menuitem [elxMenuTriggerFor]="fileMenu">
				File
			</elx-menuitem>
			<elx-menuitem disabled>
				Edit
			</elx-menuitem>
			<elx-menuitem disabled>
				Help
			</elx-menuitem>
		</elx-menubar>

		<div class="title" elxTitlebarTitle>
			<span class="title__app">Glyphy</span>
			<ng-container *ngIf="(_familyService.family$ | async) as family">
				<em class="title__sep">/</em>
				<span class="title__project">{{ family.name }}</span>
				<ng-container *ngIf="(_familyService.font$ | async) as font">
					<em class="title__sep">/</em>
					<span class="title__project">{{ font.styleName }}</span>
				</ng-container>
			</ng-container>
		</div>
	</elx-titlebar>

	<elx-menu #fileMenu>
		<elx-menuitem icon="NewFolder" keybind="Ctrl + N"
			(click)="newFamilyDialog = true"
		>
			New Project...
		</elx-menuitem>
		<elx-menuitem icon="FolderOpen" keybind="Ctrl + O"
			(click)="_familyService.open()"
		>
			Open Project...
		</elx-menuitem>
		<elx-menuitem disabled>
			Recent Projects
		</elx-menuitem> <!-- TODO -->
		<hr />
		<!-- [disabled]="!(_project.home$ | async)" -->
		<elx-menuitem (click)="importFont()">
			Import Font...
		</elx-menuitem>
	</elx-menu>

	<elx-main-viewport class="main">
		<g-family-panel class="sidebar"
			*ngIf="(_familyService.family$ | async)"
		></g-family-panel>
		<div class="content"
			*elxUnwrap="(_familyService.font$ | async) as font"
		>
			<ng-container *ngIf="font else getStarted">
				<elx-tab-list #tabs
					indicator="top"
					[(activeIndex)]="activeTabIndex"
				>
					<elx-tab class="tab" aria-label="Home">
						<elx-icon icon="Home"></elx-icon>
					</elx-tab>
					<elx-tab class="tab"
						*ngFor="let glyph of (openGlyphs$ | async)
							let i = index
							trackBy: glyphTabHasher"
						removable
						(remove)="closeGlyph(i)"
					>
						<strong class="tab__name">
							{{ glyph.name }}
						</strong>
						<span class="tab__unicode">
							{{ glyph.unicode | hex : 4 }}
						</span>
					</elx-tab>
				</elx-tab-list>

				<elx-tab-group [for]="tabs" persistent>
					<g-font-explorer
						*elxTabPanel
						(openGlyph)="openGlyph($event)"
					></g-font-explorer>

					<ng-template elxTabPanel
						*ngFor="let glyph of (openGlyphs$ | async)
							let i = index
							trackBy: glyphTabHasher"
					>
						<svg g-glyph-editor [glyph]="glyph"></svg>
					</ng-template>
				</elx-tab-group>
			</ng-container>

			<ng-template #getStarted>
				<button elx-btn="primary"
					class="get-started"
					(click)="importFont()"
				>
					Get Started
				</button>
			</ng-template>
		</div>

		<g-new-family-dialog
			*elxDialogTrigger="newFamilyDialog"
			blocking
			(confirm)="createFamily($event[0], $event[1])"
			(cancel)="newFamilyDialog = false"
		></g-new-family-dialog>

	</elx-main-viewport>
</elx-app-shell>
