<h1 class="family">
	<elx-icon class="family__icon"
		icon="Component"
	/>
	<span class="family__name">
		{{ (family$ | async)?.name }}
	</span>
</h1>

<nav class="fonts" role="navigation">
	@for (font of (fonts$ | async); track font) {
		<div role="link"
			class="font"
			[class.active]="font === (font$ | async)"
			tabindex="0"
			(click)="setActive(font)"
			(keydown.enter)="setActive(font)"
		>
			@if (font.previewGlyph) {
				<svg class="font__icon"
					[g-glyph]="font.previewGlyph"
					upperBound="xHeight"
					lowerBound="baseline"
					style="transform: scale(1, -1)"
					fill="currentColor"
				/>
			} @else {
				<span class="font__icon"
					aria-hidden="true"
					[style.font-weight]="font.weight"
					[style.font-style]="(font.style || 'normal').toLowerCase()"
				>a</span>
			}
			<span class="font__name">
				{{ font.styleName }}
			</span>
		</div>
	}
</nav>

<div role="button"
	class="nav-toggle"
	[attr.aria-label]="collapsed ? 'Expand' : 'Collapse'"
	(click)="collapsed = !collapsed"
>
	<elx-icon class="nav-toggle__icon"
		icon="ChevronLeftSmall"
	/>
</div>
