<ng-container
	*ngIf="groupByCharacterSet && (unicodeGroups$ | async) as unicodeGroups
	else flat"
>
	<ng-container *ngFor="let group of unicodeGroups">
		<section class="unicode-group"
			*ngIf="group.glyphs.length"
		>
			<h2 class="unicode-group__heading">
				{{ group.name }}
			</h2>
			<div class="glyphs">
				<div class="glyph"
					*ngFor="let glyph of group.glyphs"
					(dblclick)="openGlyph.emit(glyph)"
				>
					<svg class="glyph__svg"
						[g-glyph]="glyph"
						showMetrics
					></svg>
					<div class="glyph__label">
						<strong class="glyph__name">
							{{ glyph.name }}
						</strong>
						<span class="glyph__char-code"
							*ngIf="glyph.unicode != null"
						>
							{{ glyph.unicode | hex }}
						</span>
					</div>
				</div>
			</div>
		</section>
	</ng-container>
</ng-container>

<ng-template #flat>
	<ng-container *ngIf="(font$ | async) as font">
		<div class="glyph"
			*ngFor="let glyph of font.glyphs"
			(dblclick)="openGlyph.emit(glyph)"
		>
			<svg class="glyph__svg"
				[g-glyph]="glyph"
				showMetrics
			></svg>
			<div class="glyph__label">
				<strong class="glyph__name">
					{{ glyph.name }}
				</strong>
				<span class="glyph__char-code"
					*ngIf="glyph.unicode != null"
				>
					{{ glyph.unicode | hex }}
				</span>
			</div>
		</div>
	</ng-container>
</ng-template>
