@if (ascender != null && descender != null) {
	@let unicodeGroups = (unicodeGroups$ | async);
	@if (groupByCharacterSet && unicodeGroups) {
		@for (group of unicodeGroups; let groupIndex = $index; track group) {
			@if (group.glyphs.length) {
				<section class="unicode-group">
					<h2 class="unicode-group__heading">
						{{ group.name }}
					</h2>
					<div class="glyphs"
						*elxDeferRenderWhen="groupIndex > 3
							proxy: dummyUnicodeGroup"
					>
						@for (glyph of group.glyphs; let i = $index; track glyph) {
							<div class="glyph"
								(dblclick)="openGlyph.emit(glyph)"
							>
								<svg class="glyph__svg"
									[g-glyph]="glyph"
									showMetrics
								/>
								<div class="glyph__label">
									<strong class="glyph__name">
										{{ glyph.name }}
									</strong>
									@if (glyph.unicode != null) {
										<span class="glyph__char-code">
											{{ glyph.unicode | hex }}
										</span>
									}
								</div>
							</div>
						}
					</div>
				</section>
			}
		}
	} @else {
		@if ((font$ | async); as font) {
			@for (glyph of font.glyphs; track glyph) {
				<div class="glyph"
					(dblclick)="openGlyph.emit(glyph)"
				>
					<svg class="glyph__svg"
						[g-glyph]="glyph"
						showMetrics
					/>
					<div class="glyph__label">
						<strong class="glyph__name">
							{{ glyph.name }}
						</strong>
						@if (glyph.unicode != null) {
							<span class="glyph__char-code">
								{{ glyph.unicode | hex }}
							</span>
						}
					</div>
				</div>
			}
		}
	}
}

<ng-template #dummyUnicodeGroup>
	<div class="glyphs" style="height: 256px"></div>
</ng-template>
