<elx-app-shell
	[fakeWindowsChrome]="platform === 'tauri'"
	[maximized]="maximized"
>
	<elx-titlebar
		[title]="title"
		(minimize)="minimize()"
		[(maximized)]="maximized"
		(close)="close()"
	>
		<ng-container *elxTitlebarIcon>
			@switch (platform) {
				@case ("tauri") {
					<img src="assets/favicon.tauri.ico"
						alt="Tauri Favicon"
					/>
				}
				@case ("electron") {
					<img src="assets/favicon.electron.ico"
						alt="Electron Favicon"
					/>
				}
				@default {
					<elx-icon icon="Base" />
				}
			}
		</ng-container>

		<elx-menubar>
			<elx-menuitem [elxMenuTriggerFor]="fileMenu">File</elx-menuitem>
			<elx-menuitem [elxMenuTriggerFor]="editMenu">Edit</elx-menuitem>
			<elx-menuitem [elxMenuTriggerFor]="helpMenu">Help</elx-menuitem>
		</elx-menubar>
	</elx-titlebar>

	<elx-main-viewport class="main">
		<showcase-nav />
		<router-outlet />
	</elx-main-viewport>

</elx-app-shell>

<elx-menu #fileMenu>
	<elx-menuitem icon="NewFolder" keybind="Ctrl + N">
		New...
	</elx-menuitem>
	<elx-menuitem icon="FolderOpen" keybind="Ctrl + O">
		Open...
	</elx-menuitem>
	<elx-menuitem [elxSubmenuTriggerFor]="recentItemsMenu">
		Open Recent
	</elx-menuitem>
	<elx-menuitem>
		Close
	</elx-menuitem>
	<hr />
	<elx-menuitem icon="Save" keybind="Ctrl + S">
		Save
	</elx-menuitem>
	<elx-menuitem keybind="Ctrl + Shift + S">
		Save As...
	</elx-menuitem>
	<elx-menuitem>
		Save All
	</elx-menuitem>
</elx-menu>

<elx-menu #editMenu>
	<elx-menuitem icon="Edit" keybind="F2">
		Rename...
	</elx-menuitem>
	<hr />
	<elx-menuitem icon="Undo" keybind="Ctrl + Z">
		Undo
	</elx-menuitem>
	<elx-menuitem icon="Redo" keybind="Ctrl + Shift + Z">
		Redo
	</elx-menuitem>
	<hr />
	<elx-menuitem icon="Cut" keybind="Ctrl + X">
		Cut
	</elx-menuitem>
	<elx-menuitem icon="Copy" keybind="Ctrl + C">
		Copy
	</elx-menuitem>
	<elx-menuitem icon="Paste" keybind="Ctrl + V">
		Paste
	</elx-menuitem>
</elx-menu>

<elx-menu #helpMenu>
	<elx-menuitem icon="Info">About</elx-menuitem>
</elx-menu>

<elx-menu #recentItemsMenu>
	<elx-menuitem>Lorem ipsum</elx-menuitem>
	<elx-menuitem>Dolor sit amet</elx-menuitem>
	<elx-menuitem>Consectetur</elx-menuitem>
	<elx-menuitem>Adipiscing elit</elx-menuitem>
</elx-menu>
