<elx-app-shell
	[fakeWindowsChrome]="platform === 'tauri'"
	[maximized]="maximized"
>
	<elx-titlebar
		[title]="title"
		(minimize)="minimize()"
		[(maximized)]="maximized"
		(close)="close()"
	>
		<div *elxTitlebarIcon
			class="favicon"
			[ngSwitch]="platform"
		>
			<img *ngSwitchCase="'tauri'"
				class="favicon__icon"
				src="assets/favicon.tauri.ico"
				alt="Tauri Favicon"
			/>
			<img *ngSwitchCase="'electron'"
				class="favicon__icon"
				src="assets/favicon.electron.ico"
				alt="Electron Favicon"
			/>
			<elx-icon *ngSwitchDefault
				class="favicon__icon"
				icon="Base"
			></elx-icon>
		</div>
		<elx-menubar>
			<elx-menuitem [elxMenuTriggerFor]="fileMenu">File</elx-menuitem>
			<elx-menuitem [elxMenuTriggerFor]="editMenu">Edit</elx-menuitem>
			<elx-menuitem [elxMenuTriggerFor]="helpMenu">Help</elx-menuitem>
		</elx-menubar>
	</elx-titlebar>

	<elx-accordion-group multi>
		<elx-accordion>
			<elx-accordion-header>
				Medium
				<nav elxAccordionToolbar class="toolbar">
					<elx-icon icon="Cut" size="sm"></elx-icon>
					<elx-icon icon="Copy" size="sm"></elx-icon>
					<elx-icon icon="Paste" size="sm"></elx-icon>
				</nav>
			</elx-accordion-header>

			<section class="buttons">
				<button elx-btn>Default</button>
				<button elx-btn="primary">Primary</button>
				<button elx-btn="warning">Warning</button>
				<button elx-btn="secondary">Secondary</button>
			</section>
			<hr />
			<section class="buttons">
				<button elx-btn icon="Cancel">Cancel</button>
				<button elx-btn="primary" icon="Confirm">Okay</button>
				<button elx-btn="warning" icon="Warning">Danger!</button>
				<button elx-btn="secondary" icon="Save">Save as...</button>
			</section>
		</elx-accordion>

		<elx-accordion>
			<elx-accordion-header>
				Small
			</elx-accordion-header>

			<section class="buttons">
				<button elx-btn size="sm">Default</button>
				<button elx-btn="primary" size="sm">Primary</button>
				<button elx-btn="warning" size="sm">Warning</button>
				<button elx-btn="secondary" size="sm">Secondary</button>
			</section>
			<hr />
			<section class="buttons">
				<button elx-btn icon="Cancel" size="sm">Cancel</button>
				<button elx-btn="primary" icon="Confirm" size="sm">Okay</button>
				<button elx-btn="warning" icon="Warning" size="sm">Danger!</button>
				<button elx-btn="secondary" icon="Save" size="sm">Save as...</button>
			</section>
		</elx-accordion>

		<elx-accordion>
			<elx-accordion-header>
				Dialogs
			</elx-accordion-header>

			<section class="buttons">
				<button elx-btn (click)="blocking = true">
					Blocking
				</button>
				<button elx-btn (click)="nonBlocking = true">
					Non-blocking
				</button>
				<button elx-btn="warning" (click)="warning = true">
					Alert
				</button>
				<button elx-btn (click)="startTimer(10)">
					Loader
				</button>
				<button elx-btn (click)="indeterminate = true">
					Loader (indeterminate)
				</button>
			</section>
		</elx-accordion>

		<elx-accordion>
			<elx-accordion-header>
				Menus
			</elx-accordion-header>

			<button elx-btn
				[elxMenuTriggerFor]="menu"
			>
				Open menu
			</button>

			<elx-menu #menu>
				<elx-menuitem
					(click)="blocking = true"
				>
					Edit...
				</elx-menuitem>
				<elx-menuitem icon="Edit" keybind="F2"
					(click)="log('Rename')"
				>
					Rename
				</elx-menuitem>
				<hr />
				<elx-menuitem icon="Cut" keybind="Ctrl + X"
					(click)="log('Cut')"
				>
					Cut
				</elx-menuitem>
				<elx-menuitem icon="Copy" keybind="Ctrl + C"
					(click)="log('Copy')"
				>
					Copy
				</elx-menuitem>
				<elx-menuitem icon="Paste" keybind="Ctrl + V"
					(click)="log('Paste')"
				>
					Paste
				</elx-menuitem>
				<elx-menuitem [elxSubmenuTriggerFor]="submenu">
					Paste Special
				</elx-menuitem>
			</elx-menu>

			<elx-menu #submenu>
				<elx-menuitem (click)="log('Lorem ipsum')">
					Lorem ipsum
				</elx-menuitem>
				<elx-menuitem (click)="log('Dolor')">
					Dolor
				</elx-menuitem>
				<elx-menuitem (click)="log('Sit amet')">
					Sit amet
				</elx-menuitem>
			</elx-menu>

		</elx-accordion>
	</elx-accordion-group>

	<div class="spacer">
		<h4>&lt; This is an empty element to force a scrollbar &gt;</h4>
	</div>
</elx-app-shell>

<elx-menu #fileMenu>
	<elx-menuitem icon="NewFolder" keybind="Ctrl + N">
		New...
	</elx-menuitem>
	<elx-menuitem icon="FolderOpen" keybind="Ctrl + O">
		Open...
	</elx-menuitem>
	<elx-menuitem [elxSubmenuTriggerFor]="recentItemsMenu">
		Open Recent
	</elx-menuitem>
	<elx-menuitem>
		Close
	</elx-menuitem>
	<hr />
	<elx-menuitem icon="Save" keybind="Ctrl + S">
		Save
	</elx-menuitem>
	<elx-menuitem keybind="Ctrl + Shift + S">
		Save As...
	</elx-menuitem>
	<elx-menuitem>
		Save All
	</elx-menuitem>
</elx-menu>

<elx-menu #editMenu>
	<elx-menuitem icon="Edit" keybind="F2">
		Rename...
	</elx-menuitem>
	<hr />
	<elx-menuitem icon="Undo" keybind="Ctrl + Z">
		Undo
	</elx-menuitem>
	<elx-menuitem icon="Redo" keybind="Ctrl + Shift + Z">
		Redo
	</elx-menuitem>
	<hr />
	<elx-menuitem icon="Cut" keybind="Ctrl + X">
		Cut
	</elx-menuitem>
	<elx-menuitem icon="Copy" keybind="Ctrl + C">
		Copy
	</elx-menuitem>
	<elx-menuitem icon="Paste" keybind="Ctrl + V">
		Paste
	</elx-menuitem>
</elx-menu>

<elx-menu #helpMenu>
	<elx-menuitem icon="Info">About</elx-menuitem>
</elx-menu>

<elx-menu #recentItemsMenu>
	<elx-menuitem>Lorem ipsum</elx-menuitem>
	<elx-menuitem>Dolor sit amet</elx-menuitem>
	<elx-menuitem>Consectetur</elx-menuitem>
	<elx-menuitem>Adipiscing elit</elx-menuitem>
</elx-menu>

<elx-dialog #dialog
	*elxDialogTrigger="blocking"
	blocking
	(close)="blocking = false"
>
	<elx-dialog-heading>
		Blocking Dialog
	</elx-dialog-heading>

	<p>This is a blocking dialog.</p>

	<elx-dialog-footer>
		<button elx-btn icon="Info"
			(click)="nonBlocking = true"
		>
			Tell me more
		</button>
		<button elx-btn="primary" icon="Confirm"
			(click)="dialog.close()"
		>
			Got it
		</button>
	</elx-dialog-footer>
</elx-dialog>

<elx-dialog #dialog
	*elxDialogTrigger="nonBlocking"
	(close)="nonBlocking = false"
>
	<elx-dialog-heading>
		Non-Blocking Dialog
	</elx-dialog-heading>

	<p>This is a non-blocking dialog.</p>

	<elx-dialog-footer>
		<button elx-btn="primary" icon="Confirm"
			(click)="dialog.close()"
		>
			Okay
		</button>
	</elx-dialog-footer>
</elx-dialog>

<elx-dialog #alert
	*elxDialogTrigger="warning"
	blocking
	role="alert"
	(close)="warning = false"
>
	<elx-dialog-heading>
		Alert
	</elx-dialog-heading>

	<p>This is an alert. Are you sure you want to do that?</p>

	<elx-dialog-footer>
		<button elx-btn icon="Back"
			(click)="alert.close()"
		>
			Back to safety
		</button>
		<button elx-btn="warning" icon="Warning"
			(click)="alert.close()"
		>
			Yes, I'm sure
		</button>
	</elx-dialog-footer>
</elx-dialog>

<elx-dialog #dialog
	*elxDialogTrigger="timer"
	blocking
	loader
	[total]="timer!.total"
	[completed]="timer!.current"
	(close)="stopTimer()"
>
	<elx-dialog-heading>
		Loading
	</elx-dialog-heading>

	<p>This is a dialog that indicates something is loading.</p>

	<elx-dialog-footer>
		<button elx-btn icon="Cancel"
			(click)="dialog.close()"
		>
			Cancel
		</button>
	</elx-dialog-footer>
</elx-dialog>

<elx-dialog #dialog
	*elxDialogTrigger="indeterminate"
	blocking
	loader
	indeterminate
	(close)="indeterminate = false"
>
	<elx-dialog-heading>
		Loading
	</elx-dialog-heading>

	<p>This is a dialog that indicates something is loading.</p>
	<p>
		(This example won't finish on its own &mdash; press the button to dismiss
		it.)
	</p>

	<elx-dialog-footer>
		<button elx-btn icon="Cancel"
			(click)="dialog.close()"
		>
			Dismiss
		</button>
	</elx-dialog-footer>
</elx-dialog>
