@use "elx/layout";
@use "elx/style/color";

:host {
	display: block;
	height: 100%;
}

.main {
	padding: 16px;
}

.toolbar {
	@include layout.flex(row);
	gap: 8px;
	color: color.foreground(300);
}

.buttons {
	@include layout.flex(row, center);
	gap: 8px;
}

.elx-accordion-group h4 {
	margin: 16px 0 8px;
	padding-bottom: 4px;
	border-bottom: 2px solid color.background(500);

	&:first-child {
		margin-top: 0;
	}
}

hr {
	margin: 8px 0;
	border: 0;
	height: 2px;
	background: color.background(500);
}

.spacer {
	height: 2400px;
	margin: 24px;
	padding: 16px;
	border: 4px dashed color.background(600);
	text-align: center;
}
