<!-- Y rulers -->
<g-metrics-guide
	orientation="horizontal"
	[value]="metrics.ascender"
	label="ascender"
/>

@if (metrics.capHeight) {
	<g-metrics-guide
		orientation="horizontal"
		[value]="metrics.capHeight"
		label="cap-height"
	/>
}

@if (metrics.xHeight) {
	<g-metrics-guide
		orientation="horizontal"
		[value]="metrics.xHeight"
		label="x-height"
	/>
}

<g-metrics-guide
	orientation="horizontal"
	value="0"
	label="baseline"
	strong
/>

<g-metrics-guide
	orientation="horizontal"
	[value]="metrics.descender"
	label="descender"
/>

<!-- X rulers -->
<g-metrics-guide
	orientation="vertical"
	value="0"
	strong
/>
@if (glyph.advance) {
	<g-metrics-guide
		orientation="vertical"
		[value]="glyph.advance"
		strong
	/>
}
