<g-canvas-metrics
	[glyph]="glyph"
	[metrics]="metrics"
	[viewRect]="viewRect"
	[glyphToCanvas]="glyphToCanvas"
></g-canvas-metrics>

@if (outline) {
	<g-path
		[outline]="outline"
		[transform]="glyphToCanvas"
		[fill]="theme.getHex('foreground', 50, 0.1)"
		[stroke]="theme.getHex('foreground', 50)"
		[strokeWidth]="1"
	></g-path>
}

<g-outline-points
	[points]="points"
	[glyphToCanvas]="glyphToCanvas"
></g-outline-points>

@if ((newPoint$ | async)!; as p) {
	<g-point
		shape="circle"
		[cx]="p.x" [cy]="p.y" [r]="4"
		[transform]="glyphToCanvas"
		[fill]="theme.getHex('accent', 700)"
	></g-point>
}

@for (bb of (activeBoundingBoxes$ | async); track bb) {
	<g-rect
		[x]="bb.x"
		[y]="bb.y"
		[width]="bb.width"
		[height]="bb.height"
		[transform]="glyphToCanvas"
		fill="#00FFFF40"
		stroke="#00FFFF"
		[strokeWidth]="1"
	></g-rect>
}

<!--
@for (p of (debugPoints$ | async)) {
	<g-point
		[cx]="p.x"
		[cy]="p.y"
		[r]="4"
		[transform]="glyphToCanvas"
		fill="magenta"
	></g-point>
}
-->

<g-rulers
	[glyph]="glyph"
	[metrics]="metrics"
	[extras]="hashes"
	[viewRect]="viewRect"
	[glyphToCanvas]="glyphToCanvas"
	[canvasToGlyph]="canvasToGlyph"
></g-rulers>
