@use "elx/a11y" as *;
@use "elx/anim";
@use "elx/layout";
@use "elx/style/color";
@use "elx/style/scrollbar" as *;
@use "elx/style/type";
@use "sass:math";

:host {
	display: block;
	height: 100%;
}

.title {
	@include layout.inline-flex($a:center, $j:center);
	@include type.h3;
	flex: 1 0 0;
	gap: rem(4);
	pointer-events: none;

	&__app     { color: color.foreground(50) }
	&__sep     { color: color.foreground(500) }
	&__project { color: color.foreground(300) }
}

.main {
	@include layout.flex($dir:column, $a:center, $j:center);
	background: color.background(300);
	max-height: calc(100% - 36px);
}

.glyphs {
	--cols: 13;

	@include scrollbar(300);
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	height: 100%;
	padding: 48px;
	overflow-x: hidden;
	overflow-y: auto;
}

.glyph {
	--width: calc(100% / var(--cols));

	@include layout.flex($dir:column);
	flex: 0 0 var(--width);
	max-width: var(--width);
	height: 128px;
	margin: 8px 0;

	&__svg {
		@include layout.flex($dir:column);
		margin: 0;
		padding: 0;
		flex: 1 0 0;
	}

	&__label {
		@include layout.flex($a:baseline, $j:center);
		gap: 1ch;
		padding: 0 8px;
		height: rem(24);
		background: color.background(500);
		font-size: rem(16);
		line-height: rem(24);
		cursor: pointer;
		@include anim.transition((background, color, box-shadow));
		outline: none !important;

		&:hover {
			background: color.background(700);
		}

		&:active {
			background: color.background(600);
		}

		&:focus-visible {
			box-shadow: 0 0 0 4px color.accent(600);
			color: color.white();
		}
	}

	&__name,
	&__char-code {
		transform: translateY(-0.1rem);
	}

	&__name {
		font-weight: 700;
	}

	&__char-code {
		color: color.foreground(300);
		font: {
			family: monospace;
			weight: 400;
		}
	}
}

.active-glyph {
	&__dialog {
		width: calc(100vw - 64px);
		height: calc(100vh - 64px);

		::ng-deep {
			.elx-dialog-main {
				@include layout.flex(column);
				flex: 1 0 0;
			}

			.elx-dialog-body {
				@include layout.flex(column);
				position: relative;
				flex: 1 0 0;
			}
		}
	}

	&__svg {
		flex: 1 0 0;
		transform: scale(1, -1);
	}
}
