<elx-app-shell
	fakeWindowsChrome
	[maximized]="maximized"
>
	<elx-titlebar
		(minimize)="minimize()"
		[(maximized)]="maximized"
		(close)="close()"
	>
		<elx-icon *elxTitlebarIcon icon="Entity"></elx-icon>

		<elx-menubar>
			<elx-menuitem [elxMenuTriggerFor]="fileMenu">
				File
			</elx-menuitem>
			<elx-menuitem disabled>
				Edit
			</elx-menuitem>
			<elx-menuitem disabled>
				Help
			</elx-menuitem>
		</elx-menubar>

		<div class="title" elxTitlebarTitle>
			<span class="title__app">Glyphy</span>
			<ng-container *ngIf="(_familyService.family$ | async) as family">
				<em class="title__sep">/</em>
				<span class="title__project">{{ family.name }}</span>
				<ng-container *ngIf="(_familyService.font$ | async) as font">
					<em class="title__sep">/</em>
					<span class="title__project">{{ font.styleName }}</span>
				</ng-container>
			</ng-container>
		</div>
	</elx-titlebar>

	<elx-menu #fileMenu>
		<elx-menuitem icon="NewFolder" keybind="Ctrl + N"
			(click)="newFamilyDialog = true"
		>
			New Project...
		</elx-menuitem>
		<elx-menuitem icon="FolderOpen" keybind="Ctrl + O"
			(click)="_familyService.open()"
		>
			Open Project...
		</elx-menuitem>
		<elx-menuitem disabled>
			Recent Projects
		</elx-menuitem> <!-- TODO -->
		<hr />
		<!-- [disabled]="!(_project.home$ | async)" -->
		<elx-menuitem (click)="importFont()">
			Import Font...
		</elx-menuitem>
	</elx-menu>

	<elx-main-viewport class="main">
		<g-family-panel class="sidebar"
			*ngIf="(_familyService.family$ | async)"
		></g-family-panel>
		<div class="content"
			*elxUnwrap="(_familyService.font$ | async) as font"
		>
			<div class="glyphs"
				*ngIf="font?.glyphs.length
				else getStarted"
			>
				<div *ngFor="let glyph of font.glyphs"
					class="glyph"
				>
					<svg g-glyph class="glyph__svg"
						[glyph]="glyph"
					></svg>

					<div role="button" class="glyph__label"
						(click)="setActiveGlyph(glyph)"
					>
						<strong class="glyph__name">{{ glyph.name }}</strong>
						<span *ngIf="glyph.charCode"
							class="glyph__char-code"
						>{{ glyph.charCode | hex }}</span>
					</div>
				</div>
			</div>

			<ng-template #getStarted>
				<button elx-btn="primary"
					(click)="importFont()"
				>
					Get Started
				</button>
			</ng-template>
		</div>

		<!-- TODO
		<elx-dialog class="active-glyph__dialog"
			#activeGlyphDialog
			*elxDialogTrigger="activeGlyph"
			blocking
			(close)="setActiveGlyph(undefined)"
		>
			<elx-dialog-heading>
				{{ activeGlyph?.name ?? "" }}
			</elx-dialog-heading>

			<svg g-glyph-editor class="active-glyph__svg"
				[glyph]="activeGlyph!"
			></svg>

			<elx-dialog-footer>
				<button elx-btn
					(click)="activeGlyphDialog.close()"
				>
					Cancel
				</button>
				<button elx-btn="primary"
					(click)="activeGlyphDialog.close()"
				>
					Save
				</button>
			</elx-dialog-footer>
		</elx-dialog>
		-->

		<g-new-family-dialog
			*elxDialogTrigger="newFamilyDialog"
			(confirm)="createFamily($event[0], $event[1])"
			(cancel)="newFamilyDialog = false"
		></g-new-family-dialog>

	</elx-main-viewport>
</elx-app-shell>
