<elx-app-shell
	fakeWindowsChrome
	[maximized]="maximized"
>
	<elx-titlebar
		(minimize)="minimize()"
		[(maximized)]="maximized"
		(close)="close()"
	>
		<img *elxTitlebarIcon
			src="assets/favicon.ico"
			alt="Glif Favicon"
		/>

		<elx-menubar>
			<elx-menuitem [elxMenuTriggerFor]="fileMenu">
				File
			</elx-menuitem>
			<elx-menuitem disabled>
				Edit
			</elx-menuitem>
			<elx-menuitem disabled>
				Help
			</elx-menuitem>
		</elx-menubar>

		<div class="title" elxTitlebarTitle>
			<span class="title__app">Glif</span>
			<ng-container *ngIf="(_project.name$ | async) as projectName">
				<em class="title__sep">/</em>
				<span class="title__project">{{ projectName }}</span>
			</ng-container>
			<ng-container *ngIf="fontName">
				<em class="title__sep">/</em>
				<span class="title__project">{{ fontName }}</span>
			</ng-container>
		</div>
	</elx-titlebar>

	<elx-menu #fileMenu>
		<elx-menuitem icon="NewFolder" keybind="Ctrl + N"
			(click)="_project.create()"
		>
			New Project...
		</elx-menuitem>
		<elx-menuitem icon="FolderOpen" keybind="Ctrl + O"
			(click)="_project.open()"
		>
			Open Project...
		</elx-menuitem>
		<elx-menuitem disabled>
			Recent Projects
		</elx-menuitem> <!-- TODO -->
		<hr />
		<!-- [disabled]="!(_project.home$ | async)" -->
		<elx-menuitem (click)="importFont()">
			Import Font...
		</elx-menuitem>
	</elx-menu>

	<elx-main-viewport class="main">
		<div *ngIf="glyphs.length else getStarted"
			class="glyphs"
		>
			<div *ngFor="let glyph of glyphs"
				class="glyph"
			>
				<svg g-glyph class="glyph__svg"
					[glyph]="glyph"
				></svg>

				<div role="button" class="glyph__label"
					(click)="setActiveGlyph(glyph)"
				>
					<strong class="glyph__name">{{ glyph.name }}</strong>
					<span *ngIf="glyph.charCode"
						class="glyph__char-code"
					>{{ glyph.charCode | hex }}</span>
				</div>
			</div>
		</div>

		<elx-dialog class="active-glyph__dialog"
			#activeGlyphDialog
			*elxDialogTrigger="activeGlyph"
			blocking
			(close)="setActiveGlyph(undefined)"
		>
			<elx-dialog-heading>
				{{ activeGlyph?.name ?? "" }}
			</elx-dialog-heading>

			<svg g-glyph-editor class="active-glyph__svg"
				[glyph]="activeGlyph!"
			></svg>

			<elx-dialog-footer>
				<button elx-btn
					(click)="activeGlyphDialog.close()"
				>
					Cancel
				</button>
				<button elx-btn="primary"
					(click)="activeGlyphDialog.close()"
				>
					Save
				</button>
			</elx-dialog-footer>
		</elx-dialog>

		<ng-template #getStarted>
			<button elx-btn="primary"
				(click)="importFont()"
			>
				Get Started
			</button>
		</ng-template>

	</elx-main-viewport>
</elx-app-shell>
