<showcase-example>
	<showcase-example-demo>
		<button elx-btn (click)="openDialog()">
			Open Dialog
		</button>

		<elx-dialog #dialog
			*elxDialogTrigger="showDialog && !inputs.blocking"
			[loader]="inputs.loader"
			[indeterminate]="inputs.indeterminate"
			(close)="showDialog = false"
		>
			<elx-dialog-heading>{{ heading }}</elx-dialog-heading>

			<p>{{ content }}</p>

			<elx-dialog-footer>
				<button elx-btn icon="Cancel"
					(click)="dialog.close()"
				>
					Cancel
				</button>
				<button elx-btn="primary"
					icon="Confirm"
					(click)="dialog.close()"
				>
					Okay
				</button>
			</elx-dialog-footer>
		</elx-dialog>

		<elx-dialog #dialog
			*elxDialogTrigger="showDialog && inputs.blocking"
			blocking
			[loader]="inputs.loader"
			[indeterminate]="inputs.indeterminate"
			(close)="showDialog = false"
		>
			<elx-dialog-heading>{{ heading }}</elx-dialog-heading>

			<p>{{ content }}</p>

			<elx-dialog-footer>
				<button elx-btn icon="Cancel"
					(click)="dialog.close()"
				>
					Cancel
				</button>
				<button elx-btn="primary"
					icon="Confirm"
					(click)="dialog.close()"
				>
					Okay
				</button>
			</elx-dialog-footer>
		</elx-dialog>

		<elx-dialog #dialog
			*elxDialogTrigger="showAlert"
			role="alert"
			(close)="showAlert = false"
		>
			<elx-dialog-heading>{{ heading }}</elx-dialog-heading>

			<p>{{ content }}</p>

			<elx-dialog-footer>
				<button elx-btn icon="Back"
					(click)="dialog.close()"
				>
					Back to safety
				</button>
				<button elx-btn="warning" icon="Warning"
					(click)="dialog.close()"
				>
					Danger!
				</button>
			</elx-dialog-footer>
		</elx-dialog>

		<elx-dialog #dialog
			*elxDialogTrigger="showLoader"
			blocking
			loader
			[indeterminate]="inputs.indeterminate"
			[completed]="timer?.current"
			[total]="timer?.total"
			(close)="stopTimer()"
		>
			<elx-dialog-heading>{{ heading }}</elx-dialog-heading>

			<p>{{ content }}</p>
			@if (inputs.indeterminate) {
				<p>(This example won't close on its own.)</p>
			}

			<elx-dialog-footer>
				<button elx-btn icon="Cancel"
					(click)="dialog.close()"
				>
					Cancel
				</button>
			</elx-dialog-footer>
		</elx-dialog>

	</showcase-example-demo>

	<showcase-example-controls>
		<ng-container *showcaseControlsSection="'Inputs'">
			<elx-form-field>
				<elx-label>Role</elx-label>
				<elx-radio-group name="role"
					[(ngModel)]="inputs.role"
				>
					<elx-radio value="dialog">Dialog</elx-radio>
					<elx-radio value="alert">Alert</elx-radio>
				</elx-radio-group>
			</elx-form-field>

			<elx-checkbox
				[disabled]="inputs.role === 'alert' || inputs.loader"
				[(ngModel)]="inputs.blocking"
			>
				Blocking
			</elx-checkbox>
			<elx-checkbox
				[disabled]="inputs.role === 'alert'"
				[(ngModel)]="inputs.loader"
			>
				Loader
			</elx-checkbox>
			<elx-checkbox
				[disabled]="!inputs.loader"
				[(ngModel)]="inputs.indeterminate"
			>
				Indeterminate
			</elx-checkbox>

			@if (inputs.loader) {
				<elx-form-field>
					<elx-label>Duration</elx-label>
					<input elx-input="number"
						[disabled]="inputs.indeterminate"
						[(ngModel)]="inputs.duration"
					/>
				</elx-form-field>
			}
		</ng-container>

		<ng-container *showcaseControlsSection="'Content'">
			<elx-form-field>
				<elx-label>Heading</elx-label>
				<input elx-input
					[(ngModel)]="heading"
				/>
			</elx-form-field>
			<elx-form-field>
				<elx-label>Content</elx-label>
				<textarea elx-input
					[(ngModel)]="content"
				></textarea>
			</elx-form-field>
		</ng-container>
	</showcase-example-controls>

	<showcase-example-code
		[controller]="controller"
		[template]="template"
		[templateDefaults]="defaults"
	/>
</showcase-example>
