<ng-container *ngIf="(contentRect$ | async) as rect">
<ng-container *ngIf="(glyphToCanvas$ | async) as glyphToCanvas">
<ng-container *ngIf="(_familyService.family$ | async) as family">

<g-canvas class="canvas">
	<ng-container *ngIf="!isPanMode">
		<!-- Y rulers -->
		<g-line
			[x1]="rect.left" [x2]="rect.right"
			[y1]="family.ascender" [y2]="family.ascender"
			[yTransform]="glyphToCanvas"
			[strokeWidth]="1" [stroke]="theme.getHex('background', 600, 0.4)"
		></g-line>
		<g-line *ngIf="family.capHeight"
			[x1]="rect.left" [x2]="rect.right"
			[y1]="family.capHeight" [y2]="family.capHeight"
			[yTransform]="glyphToCanvas"
			[strokeWidth]="1" [stroke]="theme.getHex('background', 600, 0.4)"
		></g-line>
		<g-line *ngIf="family.xHeight"
			[x1]="rect.left" [x2]="rect.right"
			[y1]="family.xHeight" [y2]="family.xHeight"
			[yTransform]="glyphToCanvas"
			[strokeWidth]="1" [stroke]="theme.getHex('background', 600, 0.4)"
		></g-line>
		<g-line
			[x1]="rect.left" [x2]="rect.right"
			[y1]="0" [y2]="0"
			[yTransform]="glyphToCanvas"
			[strokeWidth]="1" [stroke]="theme.getHex('background', 600, 0.75)"
		></g-line>
		<g-line
			[x1]="rect.left" [x2]="rect.right"
			[y1]="family.descender" [y2]="family.descender"
			[yTransform]="glyphToCanvas"
			[strokeWidth]="1" [stroke]="theme.getHex('background', 600, 0.4)"
		></g-line>

		<!-- X rulers -->
		<g-line
			[x1]="0" [x2]="0"
			[y1]="rect.top" [y2]="rect.bottom"
			[xTransform]="glyphToCanvas"
			[strokeWidth]="1" [stroke]="theme.getHex('background', 600, 0.75)"
		></g-line>
		<g-line
			[x1]="glyph.advance ?? 0" [x2]="glyph.advance ?? 0"
			[y1]="rect.top" [y2]="rect.bottom"
			[xTransform]="glyphToCanvas"
			[strokeWidth]="1" [stroke]="theme.getHex('background', 600, 0.75)"
		></g-line>
	</ng-container>

	<!-- Main outline -->
	<g-path *ngIf="glyph.outline"
		[outline]="glyph.outline"
		[transform]="glyphToCanvas"
		[fill]="theme.getHex('foreground', 50, isPanMode ? 1 : 0.1)"
		[stroke]="theme.getHex('foreground', 50)"
		[strokeWidth]="isPanMode ? 0 : 1"
	></g-path>

	<!-- Control points -->
	<ng-container *ngIf="!isPanMode">
		<ng-container
			*ngFor="let p of points
				trackBy: trackPoint"
		>
			<ng-container
				*ngTemplateOutlet="handle, context: {
					point: p,
					handle: p.handle_in
				}"
			></ng-container>
			<ng-container
				*ngTemplateOutlet="handle, context: {
					point: p,
					handle: p.handle_out
				}"
			></ng-container>

			<!-- TODO: Create a theme color for non-first/non-smooth points -->
			<g-point
				[shape]="p.smooth ? 'circle' : 'box'"
				[cx]="p.x" [cy]="p.y" [r]="p.smooth ? 4 : 3.5"
				[transform]="glyphToCanvas"
				[fill]="p.pointIndex === 0
					? theme.getHex('warning', 800, 0.5)
					: p.smooth
						? theme.getHex('accent', 700, 0.5)
						: '#99C4FF80'"
				[stroke]="p.pointIndex === 0
					? theme.getHex('warning', 800)
					: p.smooth
						? theme.getHex('accent', 800)
						: '#99C4FF'"
				[strokeWidth]="1"
			></g-point>
		</ng-container>

		<ng-template #handle
			let-p="point"
			let-handle="handle"
		>
			<g-line *ngIf="handle"
				[x1]="p.x" [y1]="p.y"
				[x2]="handle.x" [y2]="handle.y"
				[transform]="glyphToCanvas"
				[stroke]="theme.getHex('primary', 700, 0.5)"
				[strokeWidth]="1"
			></g-line>
			<g-point *ngIf="handle"
				shape="diamond"
				[cx]="handle.x" [cy]="handle.y" [r]="2.5"
				[transform]="glyphToCanvas"
				[fill]="theme.getHex('primary', 700, 0.2)"
				[stroke]="theme.getHex('primary', 800)"
				[strokeWidth]="1"
			></g-point>
		</ng-template>
	</ng-container>

	<!-- Marquee selection -->
	<g-rect *ngIf="marquee"
		[x]="marquee.x"
		[y]="marquee.y"
		[width]="marquee.width"
		[height]="marquee.height"
		[fill]="theme.getHex('accent', 400, 0.2)"
	></g-rect>
</g-canvas>

</ng-container>
</ng-container>
</ng-container>
