<ng-container *ngIf="(contentRect$ | async) as viewRect">
<ng-container *ngIf="(glyphToCanvas$ | async) as glyphToCanvas">
<ng-container *ngIf="(canvasToGlyph$ | async) as canvasToGlyph">
<ng-container *ngIf="(_familyService.family$ | async) as family">

<canvas g-canvas class="canvas"
	[ngSwitch]="activeTool"
>
	<g-path *ngSwitchCase="'pan'"
		[outline]="glyph.outline"
		[transform]="glyphToCanvas"
		[fill]="theme.getHex('foreground', 50)"
	></g-path>

	<g-contour-editor *ngSwitchCase="'select'"
		[glyph]="glyph"
		[outline]="glyph.outline"
		[metrics]="family"
		[viewRect]="viewRect"
		[glyphToCanvas]="glyphToCanvas"
		[canvasToGlyph]="canvasToGlyph"
	></g-contour-editor>

	<g-pen-tool *ngSwitchCase="'pen'"
		[glyph]="glyph"
		[outline]="glyph.outline"
		[metrics]="family"
		[viewRect]="viewRect"
		[glyphToCanvas]="glyphToCanvas"
		[canvasToGlyph]="canvasToGlyph"
	></g-pen-tool>
</canvas>

<div class="ui-overlay">
	<div class="tool-palette">
		<div role="button"
			class="tool contour-editor"
			[class.active]="activeTool === 'select'"

			[elxTooltip]="toolPaletteTooltip"
			[elxTooltipContext]="{
				name: 'Select / Move',
				keybind: activeTool === 'pen' ? 'Q or Hold Ctrl' : 'Q'
			}"
			elxTooltipPosition="right"

			keybind="Q"
			(click)="activeTool = passiveTool = 'select'"
		>
			<elx-icon icon="Pointer"></elx-icon>
		</div>
		<div role="button"
			class="tool pen"
			[class.active]="activeTool === 'pen'"

			[elxTooltip]="toolPaletteTooltip"
			[elxTooltipContext]="{
				name: 'Pen Tool',
				keybind: 'W'
			}"
			elxTooltipPosition="right"

			keybind="W"
			(click)="activeTool = passiveTool = 'pen'"
		>
			<elx-icon icon="PenTool"></elx-icon>
		</div>
		<div role="button"
			class="tool pan"
			[class.active]="activeTool === 'pan'"

			[elxTooltip]="toolPaletteTooltip"
			[elxTooltipContext]="{
				name: 'Pan View',
				keybind: 'Hold Spacebar'
			}"
			elxTooltipPosition="right"

			(click)="activeTool = 'pan'"
		>
			<elx-icon icon="MoveAlt"></elx-icon>
		</div>
	</div>
</div>

<ng-template #toolPaletteTooltip
	let-name="name"
	let-keybind="keybind"
>
	<div class="tooltip">
		<span class="tooltip__name">{{ name }}</span>
		<span class="tooltip__keybind" *ngIf="keybind">({{ keybind }})</span>
	</div>
</ng-template>

</ng-container>
</ng-container>
</ng-container>
