@use "elx/style/color";

.point {
	// TODO: Choose or create a theme color for this
	fill: #99C4FF80;
	stroke: #99C4FF {
		width: calc(var(--handle-thickness) * var(--scale-factor));
	}

	&:where(.smooth) {
		fill: color.accent(700) {
			opacity: 0.5;
		}
		stroke: color.accent(800);
	}

	&:where(.first) {
		fill: color.warning(800) {
			opacity: 0.5;
		}
		stroke: color.warning(800);
	}

	&:has(+ .pointer-target:hover) {
		opacity: 0;
	}

	&:where(.pointer-target) {
		stroke-width: calc(var(--handle-thickness) * var(--scale-factor) * 2);
		opacity: 0;

		&:hover {
			opacity: 1;
		}
	}

	:host-context(.pan-mode) & {
		visibility: hidden;
	}
}

.handle {
	fill: color.primary(700) {
		opacity: 0.2;
	}
	stroke: color.primary(800) {
		width: calc(var(--handle-thickness) * var(--scale-factor));
	}

	&:where(.line) {
		stroke: color.primary(700, 0.5);
	}

	&:has(+ .pointer-target:hover) {
		opacity: 0;
	}

	&:where(.pointer-target) {
		fill-opacity: 0.5;
		stroke-width: calc(var(--handle-thickness) * var(--scale-factor) * 2);
		opacity: 0;

		&:hover {
			opacity: 1;
		}
	}

	:host-context(.pan-mode) & {
		visibility: hidden;
	}
}

.outline {
	stroke: color.foreground() {
		width: calc(var(--path-thickness) * var(--scale-factor));
	}
}
