@use "elx/style/color";

.g-glyph-metrics {
	stroke: var(--metrics-color, #{color.background(600)});
	stroke-width: calc(var(--scale-factor) * var(--line-thickness));
	stroke-opacity: 0.4;

	&__baseline,
	&__left,
	&__right {
		stroke-opacity: 1;
	}

	&__asc,
	&__dsc {
		stroke-dasharray: calc(4 * var(--scale-factor) * var(--line-thickness));
	}
}
