<svg #svgRef class="glyph"
	[gViewBox]="(_viewBox$ | async)"
>
	<g g-glyph-metrics
		class="metrics"
		*ngIf="(_viewBox$ | async) as viewBox"
		[glyph]="glyph"
		[viewBox]="viewBox"
		[gTransform]="renderTransform"
		[lineThickness]="metricsThickness"
		[scaleFactor]="_scaleFactor"
	/>

	<g class="pointer" *ngIf="_pointer">
		<line
			*ngIf="_modifiers.includes(ModifierKey.Control)"
			[attr.x1]="_pointer.x"
			[attr.x2]="_pointer.x"
			y1="-10000"
			y2="10000"
		/>
		<text
			x="16"
			y="32"
			[gTransform]="_clientToView"
		>
			X: {{ _pointerCoords?.x | number : '1.0-0' }}
		</text>

		<line
			*ngIf="_modifiers.includes(ModifierKey.Control)"
			x1="-10000"
			x2="10000"
			[attr.y1]="_pointer.y"
			[attr.y2]="_pointer.y"
		/>
		<text
			x="16"
			y="48"
			[gTransform]="_clientToView"
		>
			Y: {{ _pointerCoords?.y | number : '1.0-0' }}
		</text>
	</g>

	<path class="outline"
		[attr.d]="glyph.outline?.svg"
		[gTransform]="renderTransform"
	/>

	<g class="points"
		[gTransform]="renderTransform"
	>
		<g class="contour"
			*ngFor="let contour of glyph.outline?.contours
				let idx = index
				trackBy: trackByIndex"
			[g-glyph-contour]="contour"
			[scaleFactor]="_scaleFactor"
			[clientToGlyphCoords]="clientToGlyphCoords"
			(update)="updatePoint(idx, $event.index, $event.point)"
		></g>
	</g>
</svg>
