@use "elx/a11y" as *;
@use "elx/layout";
@use "elx/style/color";
@use "elx/style/type";

:host {
	display: grid;
	grid-template-areas:
		"component controls"
		"code      controls";
	grid-template-columns: 1fr 256px;
	grid-template-rows: 1fr max-content;
}
.component { grid-area: component; }
.controls  { grid-area: controls; }
.code      { grid-area: code; }

.component {
	@include layout.flex(column, center, center);
	background: color.background(300);
	padding: 32px;
}

.controls {
	@include layout.flex(column);
	gap: 16px;
	padding: 16px;
	background: color.background(400);
}

.code {
	margin: 0;
	padding: 24px;
	background: color.background(200);
	font-size: rem(14);
	line-height: 1.4;

	::ng-deep {
		.hljs-line-num {
			color: color.foreground(500);
			padding-right: 2em;
		}
		.hljs-indent {
			position: relative;

			&::before {
				@include layout.absolute(-0.2em, null, -0.2em, 0);
				content: "";
				width: 2px;
				background: color.background(600);
			}
		}
		.hljs-operator,
		.hljs-punctuation {
			color: color.foreground(200);
		}
		.hljs-tag-name {
			color: color.warning(700);
		}
		.hljs-attr-name {
			color: color.warning(600);
		}
		.hljs-string {
			color: color.accent(600);

			.hljs-delimiter {
				opacity: 0.5;
			}
		}
	}
}
